body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Flex', sans-serif;
    border-left: 200px;
}

header {
    background-color: #1f2937;
    margin: 0;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}
a {
    text-decoration: none;
    color:#f9FAf8;
    font-size: 20px;
}

li {
    list-style: none;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-link {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.logo {
    color:#f9FAf8;
    font-size: 35px;
}
.h-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.h-body h2 {
    font-size: 48px;
    padding-bottom: 0px;
    margin: 0;
}
.h-body .subtext{
    margin: 0;
    margin-bottom: 10px;
}
.left-h {
    color:#f9FAf8;
    width: 400px;
}
.button-h {
    background-color:#3882f6;
    display: flex;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    font-weight: 800;
}
.placeholder{
    display: flex;
    width: 900px;
    height: 350px;
    object-fit: cover;
}

.information h3 {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 40px;
    margin: 50px;
}

.collection {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.collection p {
    color: #1f2937;
    font-weight: 550;
}
.one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border-color: #3882f6;
    border: solid #3882f6;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border-color: #3882f6;
    border: solid #3882f6;
}

.three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border-color: #3882f6;
    border: solid #3882f6;
}

.four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: solid #3882f6;
}

.quote {
    background-color: #e5e7eb ;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.inspiring {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}
.snoop-quote {
    margin-bottom: 0;
}
.snoop{
    margin-top: 0;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 800; 
}
.sign-up {
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
.sign-pop {
    background-color: #3882f6;
    padding: 20px;
    display: flex;
    color: #f9FAf8;
    border-radius: 10px;
    width: 1100px;
    flex: 1;
    font-size: 20px;
    justify-content: space-between;
    padding: 50px;
}
.call {
    font-weight: 800;
}
.sign-up-button {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: #f9FAf8;
    border-radius: 10px;
    padding: 10px ;
    padding-left: 20px;
    padding-right: 20px;
    border-width: thin;
}

footer {
    background-color: #1f2937;
    color: #f9FAf8;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 30px;
}